.c-blog-list {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  @media (max-width: 800px) {
    flex-direction: column;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.4%;
    position: relative;


    &-first {
      width: 370 / 1170 * 100%;
      @media (max-width: 800px) {
        width: 100%;
      }
    }
    &-second {
      width: 770 / 1170 * 100%;
      @media (max-width: 800px) {
        width: 100%;
      }
    }
    &-third {
      width: 570 / 1170 * 100%;
      @media (max-width: 800px) {
        width: 100%;
      }
    }
    &-forth {
      width: 570 / 1170 * 100%;
      @media (max-width: 800px) {
        width: 100%;
      }
    }
  }
  &__img {
    width: 100%;
  }

  &__first-info {
    background: $blog-list-description-blog;
    position: absolute;
    top: 19 / 331 * 100%;
    bottom: 19 / 331 * 100%;
    left: 19 / 331 * 100%;
    right: 19 / 331 * 100%;
    padding-top: 19 / 331 * 100%;
    padding-right: 0;
    padding-bottom: 19 / 331 * 100%;
    padding-left: 19 / 331 * 100%;
    @media (max-width: 800px) {
      padding: 1.2rem;
      //bottom: 300 / 700 * 100%;
    }
    @media (max-width: 400px) {
      padding: 1.2rem;
      //bottom: 300 / 700 * 100%;
      bottom: 19 / 331 * 100%;
    }
  }

  &__info-title {
    color: $paragraph-color;
    font-family: GothamPro, sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-right: 50 / 306 * 100%;
    margin-bottom: 18 / 306 * 100%;
    @media (max-width: 1300px) {
      font-size: 1.6rem;
    }
  }

  &__info-description {
    color: $paragraph-color;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 100;
    margin-bottom: 64 / 306 * 100%;
    @media (max-width: 1300px) {
      margin-bottom: 36 / 288 * 100%;
      font-size: 1.2rem;
    }
    @media (max-width: 800px) {
      padding-right: 0;
      margin-bottom: 2rem;
    }
  }
  &__details {
    color: $paragraph-color;
    border: 1px solid $white-theme;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 200;
    text-transform: uppercase;
    width: 147 / 306 * 100%;
    text-align: center;
    padding: 10 / 306 * 100%;
    @media (max-width: 1300px) {
      margin-bottom: 36 / 288 * 100%;
      font-size: 1.2rem;
    }
    @media (max-width: 800px) {
      margin: 0;
    }
  }
  &__second-info {
    background: $blog-list-description-blog;
    position: absolute;
    top: 24 / 331 * 100%;
    bottom: 20 / 331 * 100%;
    left: 12 / 331 * 100%;
    right: 12 / 331 * 100%;
    padding-top: 12 / 331 * 100%;
    padding-right: 0;
    //padding-bottom: 19 / 331 * 100%;
    padding-left: 12 / 331 * 100%;
  }
  &__info-title-second {
    color: $paragraph-color;
    font-family: GothamPro, sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-right: 20rem;
    margin-bottom: 10 / 306 * 100%;
    @media (max-width: 1300px) {
      font-size: 1.6rem;
    }
    @media (max-width: 800px) {
      padding-right: 0;
      margin-bottom: 0;
    }
  }
  &__info-description-second {
    color: $paragraph-color;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 100;
    padding-right: 199 / 508 * 100%;
    margin-bottom: 67 / 508 * 100%;
    @media (max-width: 1300px) {
      margin-bottom: 36 / 465 * 100%;
      font-size: 1.2rem;
    }
    @media (max-width: 800px) {
      padding-right: 0;
      margin-bottom: 2rem;
    }
  }
  &__details-second {
    color: $paragraph-color;
    border: 1px solid $white-theme;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 200;
    text-transform: uppercase;
    width: 147 / 508 * 100%;
    text-align: center;
    padding: 10 / 508 * 100%;
    @media (max-width: 1300px) {
      margin-bottom: 36 / 288 * 100%;
      font-size: 1.2rem;
    }
  }
}
