.c-contacts {
  margin-bottom: 50 / 1170 * 100%;

  &__title {
    margin-bottom: 17/ 1170 * 100%;
  }
  &__description {
    font-family: GothamPro-Medium, sans-serif;
    font-size: 1.4rem;
    color: $paragraph-color-orange;
    text-transform: uppercase;
    text-align: center;
    padding-left: 400 / 1170 * 100%;
    padding-right: 400 / 1170 * 100%;
  }
}