.c-menu-bars {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  right: 0;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-end;
  padding: 0 3rem;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}