.c-portfolio-list {
  display: flex;
  justify-content: space-between;

  &__column {
    width: 37rem;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 2.9rem;
    }
  }
  &__img {
    width: 100%;
  }
}