.c-photo-results {
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;

  &__photo {
    width: 47rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__img {
    width: 100%;
  }
  &__name {
    color: $paragraph-color-orange;
    font-family: GothamPro-Medium, sans-serif;
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.7rem;
  }
}