.c-portfolio-list {
  display: flex;
  justify-content: space-between;

  &__column {
    width: 370 / 1169 * 100%;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 29 / 370 * 100%;
    }
  }
  &__img {
    width: 100%;
  }
}