.c-posts {
  padding-left: 100 / 1170 * 100%;
  padding-right: 100 / 1170 * 100%;
  margin-bottom: 44 / 1170 * 100%;

  @media (max-width: 1000px) {
    padding-left: 0;
    padding-right: 0;
  }
  &__first-part {
    &:not(:last-child) {
      margin-bottom: 41 / 970 * 100%;
    }
  }
  &__first-title {
    margin-bottom: 33 / 970 * 100%;
  }

  &__paragraphs {
  }
  &__first-paragraph {
    color: $paragraph-color;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    font-weight: 200;
    margin-bottom: 2.5rem;
  }

  &__second-paragraph {
    color: $paragraph-color;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    font-weight: 200;
  }
}