html {
  font-size: 62.5%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-size: 1.8rem;
  font-family: sans-serif; }

ul {
  list-style: none;
  font-family: GothamPro-Medium, sans-serif; }

input {
  background: none;
  border: none;
  display: block;
  font-family: GothamPro-Medium, sans-serif; }
  input:focus {
    outline: none; }

::placeholder {
  color: white; }

textarea {
  background: none;
  border: none;
  display: block;
  font-family: GothamPro-Medium, sans-serif; }
  textarea:focus {
    outline: none; }

a {
  text-decoration: none;
  color: #e5e5e5; }

.active-link {
  color: #e2aa1a; }

@font-face {
  font-family: GothamPro;
  src: url(../fonts/GothamPro.ttf); }

@font-face {
  font-family: GothamPro-Black;
  src: url(../fonts/GothamPro-Black.ttf); }

@font-face {
  font-family: GothamPro-Bold;
  src: url(../fonts/GothamPro-Bold.ttf); }

@font-face {
  font-family: GothamPro-Bolditalic;
  src: url(../fonts/GothamPro-Bolditalic.ttf); }

@font-face {
  font-family: GothamPro-Italic;
  src: url(../fonts/GothamPro-Italic.ttf); }

@font-face {
  font-family: GothamPro-Light;
  src: url(../fonts/GothamPro-Light.ttf); }

@font-face {
  font-family: GothamPro-LightItalic;
  src: url(../fonts/GothamPro-LightItalic.ttf); }

@font-face {
  font-family: GothamPro-Medium;
  src: url(../fonts/GothamPro-Medium.ttf); }

@font-face {
  font-family: GothamPro-MediumItalic;
  src: url(../fonts/GothamPro-MediumItalic.ttf); }

@font-face {
  font-family: GothamProNarrow-Bold;
  src: url(../fonts/GothamProNarrow-Bold.ttf); }

@font-face {
  font-family: GothamProNarrow-Medium;
  src: url(../fonts/GothamProNarrow-Medium.ttf); }

.t-heading {
  color: white;
  text-transform: uppercase;
  font-family: GothamPro-Black, sans-serif;
  line-height: normal;
  font-size: 3.5rem; }
  @media (max-width: 400px) {
    .t-heading {
      font-size: 2.5rem; } }

.t-subheading {
  color: white;
  font-family: GothamPro-Medium, sans-serif;
  font-size: 2.4rem;
  font-weight: normal;
  text-transform: uppercase; }
  .t-subheading--centered {
    text-align: center; }

.t-post-heading {
  color: #e2aa1a;
  font-family: GothamPro-Medium, sans-serif;
  font-size: 3.6rem;
  font-weight: 100;
  text-transform: uppercase; }
  @media (max-width: 400px) {
    .t-post-heading {
      font-size: 2.5rem; } }

.t-hero-heading {
  color: white;
  font-size: 7.2rem;
  font-family: GothamPro-Bold, sans-serif; }

.t-love-story-title {
  font-family: GothamPro-Medium, sans-serif;
  font-size: 3.6rem;
  font-weight: 200;
  text-transform: uppercase;
  color: orange; }
  .t-love-story-title--centered {
    text-align: center; }
  .t-love-story-title--bottom {
    margin-bottom: 3.4rem; }

.c-address-forms {
  padding: 0 8.7rem;
  display: flex;
  justify-content: space-around; }
  @media (max-width: 1000px) {
    .c-address-forms {
      flex-direction: column; } }
  @media (max-width: 1000px) {
    .c-address-forms {
      padding-left: 0;
      padding-right: 0; } }
  .c-address-forms__address {
    width: 38.14433%; }
    @media (max-width: 1000px) {
      .c-address-forms__address {
        width: 100%; } }
  .c-address-forms__adress-item {
    display: flex;
    margin-bottom: 2.7rem; }
    @media (max-width: 1000px) {
      .c-address-forms__adress-item {
        flex-direction: column;
        align-items: center;
        justify-content: center; } }
  @media (max-width: 1000px) {
    .c-address-forms__icon {
      padding: 0 1rem 0 2rem; } }
  .c-address-forms__info {
    padding: 0 0 0 2rem; }
  .c-address-forms__title {
    color: #e2aa1a;
    font-family: GothamPro-Medium, sans-serif;
    font-size: 1.4rem; }
    @media (max-width: 1000px) {
      .c-address-forms__title {
        text-align: center; } }
  .c-address-forms__position {
    font-size: 1.4rem;
    font-family: GothamPro, sans-serif;
    color: white;
    padding: 1rem 0; }
  .c-address-forms__forms {
    box-sizing: content-box;
    width: 57.28643%; }
    @media (max-width: 1000px) {
      .c-address-forms__forms {
        width: 100%; } }
  .c-address-forms__inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .c-address-forms__name {
    border: 1px solid #e5e5e5;
    color: white;
    width: 48.59649%;
    padding: 1.2rem; }
  .c-address-forms__email {
    border: 1px solid #e5e5e5;
    color: white;
    width: 48.59649%;
    padding: 1.2rem; }
  .c-address-forms__theme {
    border: 1px solid #e5e5e5;
    width: 100%;
    padding: 1.2rem;
    color: white;
    margin-top: 2rem; }
  .c-address-forms__message {
    margin-top: 2rem;
    border: 1px solid #e5e5e5;
    color: white;
    padding: 1.2rem 1.2rem 6.2rem 1.2rem;
    width: 100%; }
  .c-address-forms__submit {
    border: 1px solid #e5e5e5;
    margin-top: 1.6rem;
    background: #e2aa1a;
    padding: 1.3rem 4.2rem;
    text-align: center;
    font-family: GothamPro-Medium, sans-serif;
    color: white; }
    @media (max-width: 1000px) {
      .c-address-forms__submit {
        margin: 1.6rem auto; } }

.c-blog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media (max-width: 800px) {
    .c-blog-list {
      flex-direction: column; } }
  .c-blog-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.4%;
    position: relative; }
    .c-blog-list__item-first {
      width: 31.62393%; }
      @media (max-width: 800px) {
        .c-blog-list__item-first {
          width: 100%; } }
    .c-blog-list__item-second {
      width: 65.81197%; }
      @media (max-width: 800px) {
        .c-blog-list__item-second {
          width: 100%; } }
    .c-blog-list__item-third {
      width: 48.71795%; }
      @media (max-width: 800px) {
        .c-blog-list__item-third {
          width: 100%; } }
    .c-blog-list__item-forth {
      width: 48.71795%; }
      @media (max-width: 800px) {
        .c-blog-list__item-forth {
          width: 100%; } }
  .c-blog-list__img {
    width: 100%; }
  .c-blog-list__first-info {
    background: rgba(0, 0, 0, 0.86);
    position: absolute;
    top: 5.74018%;
    bottom: 5.74018%;
    left: 5.74018%;
    right: 5.74018%;
    padding-top: 5.74018%;
    padding-right: 0;
    padding-bottom: 5.74018%;
    padding-left: 5.74018%; }
    @media (max-width: 800px) {
      .c-blog-list__first-info {
        padding: 1.2rem; } }
    @media (max-width: 400px) {
      .c-blog-list__first-info {
        padding: 1.2rem;
        bottom: 5.74018%; } }
  .c-blog-list__info-title {
    color: white;
    font-family: GothamPro, sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-right: 16.33987%;
    margin-bottom: 5.88235%; }
    @media (max-width: 1300px) {
      .c-blog-list__info-title {
        font-size: 1.6rem; } }
  .c-blog-list__info-description {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 100;
    margin-bottom: 20.91503%; }
    @media (max-width: 1300px) {
      .c-blog-list__info-description {
        margin-bottom: 12.5%;
        font-size: 1.2rem; } }
    @media (max-width: 800px) {
      .c-blog-list__info-description {
        padding-right: 0;
        margin-bottom: 2rem; } }
  .c-blog-list__details {
    color: white;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 200;
    text-transform: uppercase;
    width: 48.03922%;
    text-align: center;
    padding: 3.26797%; }
    @media (max-width: 1300px) {
      .c-blog-list__details {
        margin-bottom: 12.5%;
        font-size: 1.2rem; } }
    @media (max-width: 800px) {
      .c-blog-list__details {
        margin: 0; } }
  .c-blog-list__second-info {
    background: rgba(0, 0, 0, 0.86);
    position: absolute;
    top: 7.25076%;
    bottom: 6.0423%;
    left: 3.62538%;
    right: 3.62538%;
    padding-top: 3.62538%;
    padding-right: 0;
    padding-left: 3.62538%; }
  .c-blog-list__info-title-second {
    color: white;
    font-family: GothamPro, sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-right: 20rem;
    margin-bottom: 3.26797%; }
    @media (max-width: 1300px) {
      .c-blog-list__info-title-second {
        font-size: 1.6rem; } }
    @media (max-width: 800px) {
      .c-blog-list__info-title-second {
        padding-right: 0;
        margin-bottom: 0; } }
  .c-blog-list__info-description-second {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 100;
    padding-right: 39.17323%;
    margin-bottom: 13.18898%; }
    @media (max-width: 1300px) {
      .c-blog-list__info-description-second {
        margin-bottom: 7.74194%;
        font-size: 1.2rem; } }
    @media (max-width: 800px) {
      .c-blog-list__info-description-second {
        padding-right: 0;
        margin-bottom: 2rem; } }
  .c-blog-list__details-second {
    color: white;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 200;
    text-transform: uppercase;
    width: 28.93701%;
    text-align: center;
    padding: 1.9685%; }
    @media (max-width: 1300px) {
      .c-blog-list__details-second {
        margin-bottom: 12.5%;
        font-size: 1.2rem; } }

.c-contacts {
  margin-bottom: 4.2735%; }
  .c-contacts__title {
    margin-bottom: 1.45299%; }
  .c-contacts__description {
    font-family: GothamPro-Medium, sans-serif;
    font-size: 1.4rem;
    color: #e2aa1a;
    text-transform: uppercase;
    text-align: center;
    padding-left: 34.18803%;
    padding-right: 34.18803%; }
    @media (max-width: 1000px) {
      .c-contacts__description {
        padding-right: 0;
        padding-left: 0; } }

.c-contacts-subheading {
  font-size: 2.4rem;
  font-family: GothamPro-Medium, sans-serif;
  color: #e2aa1a;
  text-transform: uppercase;
  margin-bottom: 4.6rem; }

.c-copyright {
  color: #e5e5e5;
  font-family: GothamPro, sans-serif;
  font-size: 1.8rem;
  padding: 0 3.4rem; }
  .c-copyright__text {
    padding: 0 1rem; }

.c-hero {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative; }
  .c-hero__img {
    width: 100%; }
  .c-hero__text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 9.5rem 70rem 0 13rem;
    text-transform: uppercase; }

.c-subheading {
  font-size: 1.8rem;
  font-family: GothamPro-Medium, sans-serif;
  color: #e2aa1a;
  text-transform: uppercase;
  margin-bottom: 4.9rem; }

.c-logo {
  width: 13.8rem; }
  .c-logo__svg {
    width: 100%; }

.c-map {
  margin-bottom: 3.59281%; }
  .c-map__figure {
    display: flex;
    justify-content: center;
    align-items: center; }
    .c-map__figure img {
      width: 100%; }

.c-menu-bars {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 50%;
  /* position the top  edge of the element at the middle of the parent */
  left: 50%;
  /* position the left edge of the element at the middle of the parent */
  right: 0;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-end;
  padding: 0 3rem; }
  .c-menu-bars__icon {
    display: flex;
    justify-content: center;
    align-items: center; }

.c-nav {
  transform: translateX(-77%);
  background: #070707;
  position: absolute;
  width: 35rem;
  z-index: 999;
  top: 0;
  bottom: 0;
  padding-top: 6.3rem;
  padding-left: 3.6rem;
  padding-right: 3.6rem;
  transition: 0.2s; }
  .c-nav--activated {
    transform: translateX(0); }
  .c-nav__logotype {
    margin-bottom: 16.3rem;
    padding: 0.2rem;
    width: 13.8rem;
    transition: 0.2s;
    transform: translateX(205px) translateY(19px) rotate(-90deg); }
    .c-nav__logotype--activated {
      margin-bottom: 16.3rem;
      padding: 0.2rem;
      width: 27.5rem;
      transform: rotate(0); }
  .c-nav__svg {
    width: 100%; }
  .c-nav__list {
    padding: 0.1rem 0.4rem;
    margin-bottom: 44.8rem; }
  .c-nav__item {
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #e5e5e5; }
    .c-nav__item:not(:last-child) {
      margin-bottom: 3.6rem; }
  .c-nav__social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem; }
  .c-nav__social-icons {
    padding: 0 0.5rem; }

.c-photo-results {
  padding-left: 8.54701%;
  padding-right: 8.54701%;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1000px) {
    .c-photo-results {
      flex-direction: column;
      padding-left: 4.2735%;
      padding-right: 4.2735%; } }
  .c-photo-results__photo {
    width: 48.45361%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 1000px) {
      .c-photo-results__photo {
        width: 100%; } }
  .c-photo-results__img {
    width: 100%; }
  .c-photo-results__name {
    color: #e2aa1a;
    font-family: GothamPro-Medium, sans-serif;
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3.61702%; }

.c-navigation {
  display: flex;
  background: #070707; }
  @media (max-width: 1000px) {
    .c-navigation {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      flex-direction: column; } }
  .c-navigation__item {
    color: #e5e5e5;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 0.2rem 1rem; }
    @media (max-width: 1000px) {
      .c-navigation__item {
        padding: 1rem 7rem;
        margin-bottom: 1.3rem; } }
    .c-navigation__item:last-child {
      padding: 0.2rem 0 0.2rem 1rem; }
      @media (max-width: 1000px) {
        .c-navigation__item:last-child {
          padding: 1rem 7rem; } }

.c-navigation--activate {
  display: flex; }

.c-navigation__menu-bars {
  display: none;
  width: 2rem; }
  @media (max-width: 1000px) {
    .c-navigation__menu-bars {
      display: block; } }

.c-navigation__menu-icon {
  width: 100%; }

.c-portfolio-list {
  display: flex;
  justify-content: space-between; }
  .c-portfolio-list__column {
    width: 31.65098%; }
  .c-portfolio-list__item {
    display: flex;
    justify-content: center;
    align-items: center; }
    .c-portfolio-list__item:not(:last-child) {
      margin-bottom: 7.83784%; }
  .c-portfolio-list__img {
    width: 100%; }

.c-posts {
  padding-left: 8.54701%;
  padding-right: 8.54701%;
  margin-bottom: 3.76068%; }
  @media (max-width: 1000px) {
    .c-posts {
      padding-left: 0;
      padding-right: 0; } }
  .c-posts__first-part:not(:last-child) {
    margin-bottom: 4.2268%; }
  .c-posts__first-title {
    margin-bottom: 3.40206%; }
  .c-posts__first-paragraph {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    font-weight: 200;
    margin-bottom: 2.5rem; }
    @media (max-width: 800px) {
      .c-posts__first-paragraph {
        font-size: 1.5rem; } }
  .c-posts__second-paragraph {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    font-weight: 200; }
    @media (max-width: 800px) {
      .c-posts__second-paragraph {
        font-size: 1.5rem; } }

.c-post-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5rem; }
  .c-post-hero__img {
    width: 100%; }

.c-slider {
  padding: 0 7rem;
  position: relative;
  margin-bottom: 4.7rem; }
  @media (max-width: 800px) {
    .c-slider {
      padding: 0; } }
  .c-slider__arrow-left {
    width: 6.9rem;
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
  .c-slider__arrow-right {
    width: 6.9rem;
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center; }

.disabled {
  display: block !important; }

.owl-nav {
  width: 114%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex !important;
  justify-content: space-between; }
  .owl-nav button {
    display: block !important; }

.c-video__element {
  width: 70.08547%;
  height: 100vh;
  margin: 0 auto 3.5rem auto;
  display: block; }
  @media (max-width: 800px) {
    .c-video__element {
      width: 100%;
      height: 40vh; } }

.c-video__description {
  padding: 0 10rem; }
  @media (max-width: 800px) {
    .c-video__description {
      padding: 0; } }

.c-video__paragraph {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 100; }
  .c-video__paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.c-portfolio-navigation {
  display: flex;
  margin-bottom: 2.8rem; }
  .c-portfolio-navigation__item {
    font-size: 1.8rem;
    color: #e5e5e5;
    text-transform: uppercase;
    font-family: GothamPro-Medium, sans-serif;
    padding: 0 1.4rem 0.7rem;
    border-bottom: 3px solid #505050; }
    .c-portfolio-navigation__item:first-child {
      padding: 0 2.7rem 0 1.5rem; }
    .c-portfolio-navigation__item:last-child {
      padding: 0 0 0 1.6rem; }

.l-body {
  background: #070707;
  position: relative; }
  .l-body__header {
    z-index: 9999; }
  .l-body__main {
    z-index: 9990; }
  .l-body__footer {
    z-index: 9980; }

.l-header {
  padding: 2.9rem 13.5rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%; }
  @media (max-width: 1000px) {
    .l-header {
      padding: 2.5rem 5rem; } }
  @media (max-width: 800px) {
    .l-header {
      padding: 2.5rem; } }

.p-blog {
  padding-top: 15.4rem;
  padding-bottom: 11.6rem; }
  .p-blog__inner {
    padding: 0 13.5rem; }
    @media (max-width: 1000px) {
      .p-blog__inner {
        padding-left: 5rem;
        padding-right: 5rem; } }
    @media (max-width: 400px) {
      .p-blog__inner {
        padding-left: 2rem;
        padding-right: 2rem; } }
  .p-blog__heading {
    margin-bottom: 2.5rem; }

.p-contacts {
  padding-top: 15.4rem;
  padding-bottom: 11.6rem; }
  .p-contacts__inner {
    padding: 0 13.5rem; }
    @media (max-width: 1000px) {
      .p-contacts__inner {
        padding-left: 5rem;
        padding-right: 5rem; } }
    @media (max-width: 400px) {
      .p-contacts__inner {
        padding-left: 2rem;
        padding-right: 2rem; } }
  .p-contacts__heading {
    margin-bottom: 2.1rem; }

.p-how-to {
  padding-top: 15.4rem;
  padding-bottom: 11.3rem; }
  .p-how-to__inner {
    padding: 0 13.5rem; }
    @media (max-width: 1000px) {
      .p-how-to__inner {
        padding-left: 5rem;
        padding-right: 5rem; } }
    @media (max-width: 400px) {
      .p-how-to__inner {
        padding-left: 2rem;
        padding-right: 2rem; } }
  .p-how-to__heading {
    margin-bottom: 4rem; }

.p-index {
  position: relative;
  overflow: hidden; }

.p-love-story {
  padding-top: 15.4rem;
  padding-bottom: 11.3rem; }
  .p-love-story__inner {
    padding: 0 13.5rem; }
    @media (max-width: 1000px) {
      .p-love-story__inner {
        padding-left: 5rem;
        padding-right: 5rem; } }
    @media (max-width: 400px) {
      .p-love-story__inner {
        padding-left: 2rem;
        padding-right: 2rem; } }
  .p-love-story__heading {
    margin-bottom: 4.7rem; }

.p-portfolio {
  padding-top: 15.4rem; }
  .p-portfolio__inner {
    padding: 0 13.5rem; }
  .p-portfolio__heading {
    margin-bottom: 3.6rem; }
