.p-portfolio {
  //border: 1px solid white;
  padding-top: 15.4rem;

  &__inner {
    //border: 1px solid green;
    padding: 0 13.5rem;
  }

  &__heading {
    //border: 1px solid red;
    margin-bottom: 3.6rem;
  }

  &__body {
    //border: 1px solid purple;
  }
}