html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.8rem;
  font-family: sans-serif;
}
ul {
  list-style: none;
  font-family: GothamPro-Medium, sans-serif;
}