@font-face {
  font-family: GothamPro;
  src: url(../fonts/GothamPro.ttf);
}

@font-face {
  font-family: GothamPro-Bold;
  src: url(../fonts/GothamPro-Bold.ttf);
}

@font-face {
  font-family: GothamPro-Bolditalic;
  src: url(../fonts/GothamPro-Bolditalic.ttf);
}

@font-face {
  font-family: GothamPro-Italic;
  src: url(../fonts/GothamPro-Italic.ttf);
}

@font-face {
  font-family: GothamPro-Light;
  src: url(../fonts/GothamPro-Light.ttf);
}

@font-face {
  font-family: GothamPro-LightItalic;
  src: url(../fonts/GothamPro-LightItalic.ttf);
}

@font-face {
  font-family: GothamPro-Medium;
  src: url(../fonts/GothamPro-Medium.ttf);
}

@font-face {
  font-family: GothamPro-MediumItalic;
  src: url(../fonts/GothamPro-MediumItalic.ttf);
}

@font-face {
  font-family: GothamProNarrow-Bold;
  src: url(../fonts/GothamProNarrow-Bold.ttf);
}

@font-face {
  font-family: GothamProNarrow-Medium;
  src: url(../fonts/GothamProNarrow-Medium.ttf);
}