.t-heading {
  color: $heading-color;
  text-transform: uppercase;
  font-family: GothamPro-Black, sans-serif;
  line-height: normal;
  font-size: 35px;
}
.t-subheading {
  color: $heading-color;
  font-family: GothamPro-Medium, sans-serif;
  font-size: 2.4rem;
  font-weight: normal;
  text-transform: uppercase;

  &--centered {
    text-align: center;
  }
}

.t-post-heading {
  color: $subheading-color;
  font-family: GothamPro-Medium, sans-serif;
  font-size: 3.6rem;
  font-weight: 100;
  text-transform: uppercase;
}
.t-hero-heading {
  color: white;
  font-size: 7.2rem;
  font-family: GothamPro-Bold, sans-serif;
}