$white-theme: rgb(255, 255, 255) !default;
$with-opacity-theme: rgba(255, 255, 255, 0.7) !default;
$dark-opacity-theme: rgba(0, 0, 0, 0.86) !default;
$dark-orange-theme: rgb(226, 170, 26) !default;
$dark-theme: rgb(7, 7, 7) !default;
$light-grey-theme: rgb(229, 229, 229) !default;
$dark-grey-theme: rgb(80, 80, 80);
// Headings
$heading-color: $white-theme;
$subheading-color: $dark-orange-theme;

// Navigation background
$nav-background: $dark-theme;

// List
$list-color: $light-grey-theme;
$list-selected-color: $dark-orange-theme;

// Paragraphs
$paragraph-color: $white-theme;
$paragraph-color-orange: $dark-orange-theme;

// Layout
$l-body-background: $dark-theme;

// Blog list description
$blog-list-description-blog: $dark-opacity-theme;

// Borders
$borders: $white-theme;

// Input borders
$input-border: $light-grey-theme;

// Backgrounds
$orange-background: $dark-orange-theme;