$white-theme: rgb(255, 255, 255) !default;
$with-opacity-theme: rgba(255, 255, 255, 0.7) !default;
$dark-orange-theme: rgb(226, 170, 26) !default;
$dark-theme: rgb(7, 7, 7) !default;
$light-grey-theme: rgb(229, 229, 229) !default;

// Headings
$heading-color: $white-theme;
$subheading-color: $dark-orange-theme;

// List
$list-color: $light-grey-theme;
$list-selected-color: $dark-orange-theme;

// Paragraphs
$paragraph-color: $white-theme;

// Layout
$l-body-background: $dark-theme;